body
{
    background: #212122;
    color:#ffff;
    padding-top: 5rem;
}
h2
{
    color: rgb(247, 155, 18);
    text-align: center;
}
form 
{
    background: #212122;
    display: block;
    margin: auto;
    width: 300px;
    border: 1px solid #fff;
    padding: 3rem;
    border-radius: 20px;
    box-shadow: 1px 1px 6px #fff;
}
input
{
    margin-top: 8px;
    margin-bottom: 16px;
    padding: 5px;
    width: 100%;
}
p
{
    width: 5px;
}
a
{
    color: #d7e607;
}