body {
    background: #212122;
    color:#ffff;
    padding-top: 5rem;
}

form
{
    background: #212122;
    display:block;
    margin:auto;
    width:300px;
    border: 1px solid #fff;
    padding:3rem;
    border-radius: 20px;
    box-shadow:1px 1px 6px #fff;
}
h1 {
    color: rgb(247, 155, 18);
    text-align: center;
}
input 
{
    margin-top: 8px;
    margin-bottom: 16px;
    padding: 5px;
    width: 100%;

}
a {
    color:#1221f0;
}